---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>
   
   <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}
    
  <!-- Structured Data for Blog Post -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author | default: site.author }}"
    },
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | absolute_url }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.theme_settings.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}{{ site.baseurl }}/{{ site.theme_settings.favicon }}"
      }
    },
    "image": "{{ page.feature-img | prepend: site.url | prepend: site.baseurl }}",
    "articleSection": "{{ page.categories | first }}",
    "keywords": "{{ page.tags | join: ', ' }}",
    "inLanguage": "{{ page.lang | default: site.active_lang }}"
  }
  </script>
    
</article>

<!-- Disqus -->
{% if page.comments %}
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'https-blgnksy-github-io'; // required: replace example with your forum shortname
        /*var disqus_developer = 1; // Comment out when the site is live*/
        var disqus_identifier = "{{ page.url }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}



<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
